/** @format */

.comentarios-container {
	max-width: 600px;
	margin: 20px auto;
	padding: 30px;
	border: 1px solid #ddd;
	border-radius: 8px;
	background-color: #fff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.comentario-item {
	display: flex;
	align-items: flex-start;
	margin-bottom: 15px;
}

.comentario-avatar {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 10px;
}

.comentario-content {
	flex: 1;
}

.comentario-username {
	font-weight: bold;
	color: #333;
}

.comentario-texto {
	font-size: 14px;
	color: #555;
}

.comentario-timestamp {
	font-size: 12px;
	color: #999;
	margin-top: 5px;
}

.comentario-remover-btn,
.comentario-responder-btn {
	background-color: transparent;
	border: none;
	color: gray;
	font-size: 12px;
	cursor: pointer;
	padding: 5px;
	margin-top: 5px;
}

.input-novo-comentario {
	display: flex;
	align-items: center; /* Alinha o avatar e o input */
	margin-top: 20px;
}

.input-novo-comentario img {
	margin-right: 10px; /* Espaçamento entre o avatar e o input */
}

.input-novo-comentario input {
	flex: 1;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-right: 10px;
}

.input-novo-comentario button {
	background-color: #2f2f2f;
	border: none;
	color: white;
	padding: 6px 12px;
	cursor: pointer;
	border-radius: 5px;
}

.resposta-input-container {
	margin-top: 10px;
	display: flex;
	align-items: center; /* Alinha o avatar e o input */
}

.resposta-input {
	flex: 1;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.resposta-enviar-btn {
	margin-left: 10px;
	background-color: white;
	border: none;
	color: white;
	padding: 0;
	cursor: pointer;
	border-radius: 5px;
}

.comentario-respostas {
	margin-top: 10px;
	padding-left: 50px;
}

.respostas-lista {
	margin-top: 10px;
}

.resposta-item {
	display: flex;
	align-items: flex-start;
	margin-top: 5px;
}

.resposta-avatar {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin-right: 8px;
}

.resposta-username {
	font-weight: bold;
	color: #333;
	font-size: 14px;
}

.resposta-texto-container {
	display: flex;
	align-items: center; /* Alinha o texto e o botão */
}

.resposta-texto {
	font-size: 13px;
	color: #555;
}

.resposta-remover-btn {
	background-color: transparent; /* Fundo transparente para o botão de excluir */
	border: none; /* Sem borda */
	color: #e74c3c; /* Cor do texto do botão de excluir */
	font-size: 12px; /* Tamanho do texto do botão de excluir */
	cursor: pointer; /* Cursor de ponteiro */
	margin-left: 10px; /* Espaçamento à esquerda */
}

.comentario-ver-mais-btn {
	background-color: transparent;
	border: none;
	color: gray;
	cursor: pointer;
	font-size: 12px;
}
