/** @format */

.container-receita-e-comentarios {
	margin: 20px auto;
	padding: 60px;
	max-width: 600px;
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.container-nome-imagem-e-usuario {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container-nome-imagem-e-usuario > img {
	width: 600px;
	height: 508px;
	border-radius: 2rem;
}
