/** @format */

.foto-receita {
	width: 355px;
	height: 300px;
	border-radius: 2rem;
}

.container-receita-card {
	display: flex;
	flex-direction: column;
}

.container-usuario-e-comentarios {
	display: flex;
	background-color: black;
}
