/** @format */

.foto-receita {
	width: 355px;
	height: 300px;
	border-radius: 2rem;
	cursor: pointer;
}

.container-receita-card {
	display: flex;
	flex-direction: column;
}

.container-usuario-e-comentarios {
	display: flex;
	max-width: 355px;
	justify-content: space-around;
}

.container-comentarios {
	margin-top: 20px;
	border: 1px solid #ddd;
	border-radius: 10px;
	padding: 15px;
	background-color: #f9f9f9;
	position: relative;
	z-index: 100;
	width: 700px;
}

.btn-fechar-comentarios {
	margin-top: 10px;
	padding: 5px 10px;
	background-color: #e74c3c;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
