/* Card de Receita */
.fotoReceita {
	width: 100%;
	height: 270px; /* Altura fixa para garantir um layout uniforme */
	border-radius: 0 0 2rem 2rem;
	cursor: pointer;
	object-fit: cover; /* Mantém a proporção da imagem */
	transition: transform 0.3s ease-in-out;
}

.containerReceitaCard {
	display: flex;
	flex-direction: column;
	width: 355px; /* Largura padrão para cards */
	border-radius: 2rem;
	overflow: hidden;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	margin: 15px; /* Espaçamento entre cards */
}

.containerReceitaCard:hover .fotoReceita {
	transform: scale(1.05); /* Aumenta a imagem ao passar o mouse */
}

.containerUsuarioEComentarios {
	display: flex;
	justify-content: space-around;
	padding: 10px;
	align-items: center;
}

.containerNomeReceita {
	background: linear-gradient(135deg, #f7e3b4, #d4a373);
	border-radius: 2rem 2rem 0 0;
	padding: 10px 0;
	text-align: center;
	height: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.containerNomeReceita p {
	font-size: 16px;
	color: white;
	font-weight: 500;
	letter-spacing: 0.5px;
	margin: 0;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
	max-width: 20rem;
}

/* Layout responsivo para telas maiores */
.containerReceitaCardContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

/* Ajustes responsivos */
@media (max-width: 480px) {
	/* Configuração do contêiner principal */
	.ListaReceitas_containerListaReceitas {
		display: flex !important; /* Altera para flexbox */
		flex-direction: column; /* Empilha os cards em uma coluna */
		align-items: center; /* Centraliza os cards */
		gap: 20px; /* Adiciona espaçamento entre os cards */
	}

	/* Configuração dos cards individuais */
	.ReceitaCard_containerReceitaCard {
		width: 90% !important; /* Garante que cada card ocupe 90% da largura da tela */
		margin: 0 auto !important; /* Centraliza os cards horizontalmente */
	}

	.fotoReceita {
		width: 100%; /* Garante que a imagem ocupe a largura total do card */
		height: auto; /* Mantém a proporção correta */
		max-height: 200px; /* Altura máxima para evitar que as imagens sejam muito altas */
		object-fit: contain; /* Exibe a imagem inteira sem cortes */
	}
}