/** @format */

.icon {
	width: 2rem;
	cursor: pointer;
}

.iconeEnviar {
	width: 28px;
	background-color: #2f2f2f;
	border-radius: 100%;
}

.icon {
	cursor: pointer;
	transition: color 0.3s ease;
}

.saveIconContainer {
	position: relative;
	display: inline-block;
}

.saveMessage {
	position: absolute;
	top: -30px;
	right: -10px;
	background-color: #333;
	color: #fff;
	padding: 5px 10px;
	border-radius: 5px;
	font-size: 0.8rem;
	opacity: 0.8;
	animation: fade-in-out 2s ease;
}

@keyframes fade-in-out {
	0% {
		opacity: 0;
	}
	10% {
		opacity: 0.8;
	}
	90% {
		opacity: 0.8;
	}
	100% {
		opacity: 0;
	}
}

.iconWithText {
	display: flex;
	align-items: center;
	cursor: pointer;
	transition: color 0.3s ease;
}

.iconWithText:hover {
	color: #ff6347; /* Muda a cor ao passar o mouse */
}

.iconText {
	margin-left: 8px;
	font-size: 0.9rem;
	color: #333;
	font-weight: bold;
}

/* IconsStyle.module.css */

.saveIconContainer {
	display: flex;
	align-items: center;
	cursor: pointer;
	gap: 5px;
}

.saved {
	color: #000; /* Preto para o estado salvo */
	font-size: 1.5rem;
	transition: color 0.3s ease;
}

.unsaved {
	color: #fff; /* Branco para o preenchimento não salvo */
	font-size: 1.5rem;
	transition: color 0.3s ease;
	stroke: #000; /* Contorno preto */
	stroke-width: 0.15em; /* Ajuste a largura do contorno conforme necessário */
}

.iconText {
	font-size: 1rem;
	font-weight: 500;
	color: #333;
}
