/** @format */

.largeButton {
	background-color: #2f2f2f;
	color: white;
	font-size: 15px;
	text-transform: uppercase;
	padding-left: 20%;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 1.17rem;
	font-weight: bold;
	width: 70%;
	text-justify: center;
}

.largeButton p {
	padding: 0;
	width: fit-content;
	margin: 0;
}
