/** @format */

.fotoReceita {
	width: 355px;
	height: 300px;
	border-radius: 2rem;
	cursor: pointer;
	object-fit: cover;
}

.containerReceitaCard {
	display: flex;
	flex-direction: column;
}

.containerUsuarioEComentarios {
	display: flex;
	max-width: 355px;
	justify-content: space-around;
}
