/** @format */

.fotoReceita {
	width: 355px; /* Mantém a largura original */
	height: 300px; /* Mantém a altura original */
	border-radius: 0 0 2rem 2rem; /* Bordas arredondadas na parte inferior */
	cursor: pointer;
	object-fit: cover; /* Mantém a proporção da imagem */
	transition: transform 0.5s ease-in-out; /* Transição suave para o efeito de hover */
}

.containerReceitaCard {
	display: flex;
	flex-direction: column;
	width: 355px; /* Mantém a largura do card */
	border-radius: 2rem; /* Bordas arredondadas do card */
	overflow: hidden; /* Oculta qualquer parte da imagem que ultrapasse os limites do card */
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.containerReceitaCard:hover .fotoReceita {
	transform: scale(1.05); /* Aumenta a imagem 5% ao passar o mouse */
}

.containerUsuarioEComentarios {
	display: flex;
	max-width: 355px;
	justify-content: space-around;
	padding: 10px; /* Espaçamento interno */
}

.containerNomeReceita {
	background: linear-gradient(30deg, #f7e3b4, #d4a373);

	border-radius: 2rem 2rem 0 0; /* Arredondamento no topo */
	padding: 10px 0; /* Ajuste de padding */
	text-align: center; /* Centraliza o texto */
}

.containerNomeReceita p {
	font-size: 14px; /* Tamanho da fonte */
	color: white; /* Cor branca */
	font-weight: 500; /* Peso da fonte */
	letter-spacing: 0.5px; /* Espaçamento entre letras */
	margin: 0; /* Remove margens para ajuste fino */
}
