/** @format */

.fotoReceita {
	width: 80%; /* Tamanho reduzido da imagem */
	height: auto; /* Manter a proporção da imagem */
	border-radius: 0 0 2rem 2rem; /* Manter o arredondamento */
	cursor: pointer;
	transition: transform 0.3s ease; /* Transição suave para o efeito de hover */
	margin: 0 auto; /* Centraliza a imagem */
}

.containerReceitaCard {
	display: flex;
	flex-direction: column;
	border-radius: 2rem; /* Bordas do card */
	overflow: hidden; /* Oculta partes da imagem que ultrapassam os limites do card */
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
	transition: box-shadow 0.3s ease; /* Transição suave para a sombra */
}

.containerReceitaCard:hover {
	box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15); /* Efeito de sombra ao hover */
}

.containerUsuarioEComentarios {
	display: flex;
	max-width: 355px;
	justify-content: space-around;
	padding: 10px; /* Espaçamento suave */
}

.containerNomeReceita {
	background-color: rgba(
		0,
		0,
		0,
		0.8
	); /* Cinza escuro com leve transparência */
	border-radius: 2rem 2rem 0 0;
	padding: 10px 0; /* Ajuste de padding */
	text-align: center; /* Centraliza o texto diretamente no container */
}

.containerNomeReceita p {
	font-size: 14px;
	color: white; /* Cor branca para contraste */
	font-weight: 500;
	letter-spacing: 0.5px;
	margin: 0; /* Remove margens para ajuste fino */
}
