/** @format */

.fotoUsuarioPostador {
	border-radius: 50%; /* Garante que a imagem seja circular */
	width: 2rem;
	height: 2rem; /* Altura igual à largura */
	object-fit: cover; /* Ajusta a imagem dentro do contêiner sem distorcer */
}

.containerUsuarioPostador {
	display: flex;
	gap: 1rem;
	align-items: center;
	color: black;
}
