/** @format */

.respostas-lista {
	margin-top: 10px;
	/* padding-left: 50px; */
}

.resposta-item {
	display: flex;
	align-items: flex-start;
	margin-bottom: 15px;
}

.resposta-item img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 10px;
}

.resposta-texto-container {
	display: flex;
	flex-direction: column; /* Stack username and text vertically */
}

.resposta-texto {
	font-size: 14px;
	color: #555;
}

.resposta-username {
	font-weight: bold;
	color: #333;
}
